  name: "Build"

  # Controls when the action will run. Triggers the workflow on push or pull request
  # events for the `master` branch
  on:
    push:
      branches: [main]
      tags:
        - 'v*'
    pull_request:
      # The branches below must be a subset of the branches above
      branches: [main]
    schedule:
      # Run once a week (even if no new code or PRs) to detect random regressions
      - cron: "12 13 * * 2"

  env:
    # Allow precise monitoring of the save/restore of Gradle User Home by `gradle-build-action`
    # See https://github.com/marketplace/actions/gradle-build-action?version=v2.1.1#cache-debugging-and-analysis
    GRADLE_BUILD_ACTION_CACHE_DEBUG_ENABLED: true
    GRADLE_BUILD_ACTION_CACHE_KEY_PREFIX: "openmrs-android" # change this to invalidate cache

  concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
    cancel-in-progress: true # Use e.g. ${{ github.ref != 'refs/heads/main' }} (or master, until #2180) to only cancel for PRs not on branch

    # A workflow run is made up of one or more jobs that can run sequentially or in parallel
  jobs:
    # Build will compile APK, test APK and run tests, lint, etc.
    build:
      runs-on: ubuntu-latest
      timeout-minutes: 60
      permissions:
        contents: write
        packages: write

      strategy:
        fail-fast: false

      # Steps represent a sequence of tasks that will be executed as part of the job
      steps:
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        - name: Checkout Repo
          uses: actions/checkout@v4
          with:
            # Fetch origin/master for spotless ratchet to work
            # https://github.com/diffplug/spotless/issues/1242
            fetch-depth: 0

        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            distribution: temurin
            java-version: "17"
            cache: 'gradle'

        - name: Setup Android SDK
          uses: android-actions/setup-android@v3

        - name: Change wrapper permissions
          run: chmod +x ./gradlew
          env:
            USERNAME: $GITHUB_ACTOR
            TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - name:  Spotless check
          run: ./gradlew spotlessCheck --scan --full-stacktrace
          env:
            USERNAME: $GITHUB_ACTOR
            TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - name: Run Gradle tests
          run: ./gradlew test --full-stacktrace
          env:
            USERNAME: $GITHUB_ACTOR
            TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - name: Build (full) with Gradle
          run: ./gradlew build --full-stacktrace
          env:
            USERNAME: $GITHUB_ACTOR
            TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - name: Publish Maven packages to GitHub Packages
          if: ${{ github.event_name == 'push' }}
          run: ./gradlew publish
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


# Generate release if tag done
        - name: Prepare tag
          id: tag
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          run: |
            VERSION="${GITHUB_REF##refs/tags/source/}"
            echo "version=${VERSION}" >>$GITHUB_OUTPUT

        - name: Setup build tool version variable
          shell: bash
          run: |
            BUILD_TOOL_VERSION=$(ls /usr/local/lib/android/sdk/build-tools/ | tail -n 1)
            echo "BUILD_TOOL_VERSION=$BUILD_TOOL_VERSION" >> $GITHUB_ENV
            echo Last build tool version is: $BUILD_TOOL_VERSION

        - name: Generate dev3 APK
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          run: ./gradlew :dev3-app:assemble
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - name: Move files
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          run: |
            mv dev3-app/build/outputs/apk/debug/dev3-app-debug.apk dev3-app/build/outputs/dev3-app-debug.apk
            mv dev3-app/build/outputs/apk/release/dev3-app-release.apk dev3-app/build/outputs/dev3-app-release.apk
            

        - name: Sign App
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          id: sign_dev3_app
          uses: r0adkll/sign-android-release@v1
          with:
            releaseDirectory: dev3-app/build/outputs
            signingKeyBase64: ${{ secrets.ANDROID_SIGNING_KEY }}
            alias: ${{ secrets.ANDROID_KEY_ALIAS }}
            keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          env:
            BUILD_TOOLS_VERSION:  ${{ env.BUILD_TOOL_VERSION }}


        - name: Build Changelog
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          id: changelog
          uses: ardalanamini/auto-changelog@v4
          with:
            mention-authors: false
            mention-new-contributors: false
            include-compare: false
            semver: false

        - name: Create Release
          if: ${{ startsWith(github.ref, 'refs/tags/') }}
          id: create_release
          uses: ncipollo/release-action@v1.13.0
          with:
            artifacts: "dev3-app/build/outputs/dev3-app-release.apk,dev3-app/build/outputs/dev3-app-debug.apk"
            body: ${{ steps.changelog.outputs.changelog }}
            tag: ${{ steps.tag.outputs.version }}
            name: Release ${{ steps.tag.outputs.version }}
            token: ${{ secrets.GITHUB_TOKEN }}
            allowUpdates: true